
<div class="container">
    <h1 align="center">Clock+</h1>
    <h5 align="center">Clock+ build by Khalil Frough -email: s3489975@student.rmit.edu.au grade level:pass- tutor group:Wednesdays 14:30-16-30</h5>
  <br>
  <br>
  <br>
    <div class="row">
        <div class="col-4">
            <div class="timing">
                <span class="business-time"></span> Business time <br>
                <span class="business-overtime"></span> Business overtime <br>
                <span class="personal-time"></span> Personal time <br>
                <i class="fa fa-moon"></i> Sleeping time <br>
            </div>
        </div>

        <div class="col-4 card text-white bg-dark mb-3">
          <div class="row">
            <div class="col-8">
              <strong>Melbourne </strong>
            </div>
            <div class="col-4">
              <%= Time.now.in_time_zone(@default_zone ).strftime("%I:%M%p")  %>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-8">
              <strong>Los Angeles</strong>
              <p><%= time_difference(@default_zone , "America/Los_Angeles") %>h</p>
            </div>
            <div class="col-4">
              <%= Time.now.in_time_zone("America/Los_Angeles").strftime("%I:%M%p")  %>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-8">
              <strong>Tokio</strong>
              <p><%= time_difference(@default_zone , "Asia/Tokyo") %>h</p>
            </div>
            <div class="col-4">
              <%= Time.now.in_time_zone("Asia/Tokyo").strftime("%I:%M%p")  %>
            </div>
          </div>
        </div>
        <div class="col-4">
            <div class="color-theme">
                <p>Color Theme </p>
                <button class="custom-btn">Black</button>
                <button class="custom-btn">Graphite</button>
                <button class="custom-btn">White</button> <br><br>
                <p><input type="checkbox" id="24-hours" name="clock" value="24-Hour"> 24-Hour Clock</p>
                
            </div> <!-- end of colo theme-->
        </div>
    </div> <!-- end of row-->
</div>
